body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
/* KIỂU DÁNG CHO FORM */
.container{
    text-align: center;
    border: #000000 solid 1px;
    width: 50%;
    max-width: 400px;
    margin: auto;
}
.container h2{
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: white;
    
    
}
.container #addStudentform{
    margin: 0 20px 0px 20px;
    text-align: left;
}
/* Điều chỉnh các dòng trong form */
#addStudentform .form-group{
    margin-bottom: 20px !important; 
    display: flex;
    align-items: center;
}

.form-group label{
    flex: 0 0 120px;
}

#addStudentform #add-btn-in-form{
    text-align: right;
    margin-bottom: 20px;
}
#add-btn-in-form button{
    height: 40px;
}
#add-btn-in-form button:hover{
    background-color: black;
    color: white;
    text-decoration-line: underline;
}

/* Kiểu dáng chung cho bảng */
table {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse;
    border: 1px solid #000000; 
}
thead{
    background-color: rgb(35, 35, 159);
    color: white;
}
th, td {
    border: 2px solid #000000;
    padding: 8px 12px; 
    text-align: left;
}
th, td:hover {
    text-decoration: underline;
}

/* Kiểu dáng cho tiêu đề bảng (header) */
thead th {
    color: white; 
    font-weight: bold; 
    text-align: center;
}


